body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  color: #222222;
}

h1 {
  text-align: center;
  color: #2c4f7c;
}

h2 {
  text-align: center;
  color: #3a6ea5;
  margin-bottom: 5px;
}

p {
  margin: 10px 30px;
  line-height: 1.3;
  text-indent: 30px;
  text-align: justify;
}

section {
  margin-bottom: 25px;
}

address {
  text-align: center;
  font-style: normal;
  color: #555555;
}
